= render 'drawing', drawing: @drawing
.text-center.edit-links
  = link_to "Back To List", drawings_path
  - if @drawing.can_modify?(current_user)
    |
    = link_to "Edit Drawing", edit_drawing_path(@drawing)
