= render 'form'

.text-center.edit-links
  = link_to "Cancel", user_path(@user)
  |
  = link_to "Delete User", user_path(@user), method: :delete, data: { confirm: 'Are you sure? Note: this will NOT delete the user\'s uploaded drawings.' }
