@import "variables";

input.btn.btn-default.btn-success.btn-block {
  display: inline;
  min-height: 60px;
  font-weight: bold;
  font-size: $base-font-size;
}

.form-section {
	background-color: $white;
	padding: $spacing-unit;
	padding-bottom: 0;
}

.form-title {
	border-bottom: 1px $light-gray solid;
	margin-bottom: $spacing-unit;

	h2 {
		font-size: 1.3em;
		margin-top: 0;
	}
}

.form-group {
	margin-bottom: $spacing-unit;
}

.form-consent label {
  font-weight: bold;
}

label {
  font-weight: normal;

  &.radio_buttons {
  	margin-bottom: 0px;
  }
}
