@import "variables", "mixins";

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  a {
    color: $white;
  }
}

.navbar-default {
  background-color: $dark-grey;
  height: 54px;
  @include border-radius(0);
  border: none;

  .navbar-nav li a {
    color: $white;
  }
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}
