/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */

@import "bootstrap";

html, body {
  height: 100%;
  background-color: #fafafa;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.alert {
  margin-bottom: 0px;
}

/* ## LOG IN / REG CUSTOMISATIONS ## */

.login-bg {
  padding-top: 4em;
  height: 100%;
  background-image: image-url('loginbackg.jpg');
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.log-in {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: none;
}

.panel {
  border-radius: 8px;
}

.panel-heading {
  h2 {
    text-align: center;
  }
}

.form-inputs {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* ## NAVBAR CUSTOMISATIONS ## */

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  a {
    color: #125688;
  }
}

.navbar-default {
  background-color: #fff;
  height: 54px;
  .navbar-nav li a {
    color: #125688;
  }
}

.navbar-container {
  width: 70%;
  margin: 0 auto;
}



/* ## DRAWING CUSTOMISATIONS ## */

.drawings-wrapper {
  padding-top: 40px;
  margin: 0 auto;
}

.drawings-full {
  max-width: 642px;
  width: 100%;
}

.drawing {
  background-color: #fff;
  border-color: #edeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 60px;
  .drawing-head {
    flex-direction: row;
    height: 64px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    color: #125688;
    font-size: 15px;
    line-height: 18px;
    .user-name, .time-ago {
      display: inline;
    }
    .user-name {
      font-weight: 500;
    }
    .time-ago {
      color: #A5A7AA;
      float: right;
    }
  }
  .image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
    border-bottom: 1px solid #eeefef;
    border-top: 1px solid #eeefef;
  }
  .image img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

#image-preview {
  margin: 0px auto;
}

#drawing_image {
  padding: 1em;
  margin: 0px auto;
}

.drawing-bottom {
  .user-name, .comment-content {
    display: inline;
  }
  .caption {
    margin-bottom: 7px;
  }
  .user-name {
    font-weight: 500;
    margin-right: 0.3em;
    color: #125688;
    font-size: 15px;
  }
  .user-name {
    display: inline;
  }
  margin-bottom: 7px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 10px;
  font-size: 15px;
  line-height: 18px;
}

/* ## Wrapper and styling for the new and edit views ## */

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: #fff;
  padding: 40px;
  border: 1px solid #eeefef;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

$loadbgcolour: #85144B;

#paginator {
  color: #ddd;
  background-color: $loadbgcolour;
  height: 80px;
  width: 80px;
  margin: 60px auto 40px;
  position: relative;
  display: table;
  border-radius: 50%;
  :hover {
    background-color: lighten($loadbgcolour, 10%);
    border-radius: 50%;
  }
}

#load_more {
  color: #ddd;
  display: table-cell;
  font-size: 12px;
  padding: 0px 5px;
  vertical-align: middle;
  text-decoration: none;
  a :hover {
    color: #ddd;
  }
}


.panel {
  border-radius: 8px;
}

.panel-heading {
  h2 {
    text-align: center;
  }
}

$emotions: (
  'joyous' : '\1F602',
  'happy' : '\1F60A',
  'neutral' : '\1F610',
  'sad' : '\1F61E',
  'tragic' : '\1F622'
);

.ranger{
  &-label{
    display: none;
  }
  &-group{
    text-align: center;
    @each $emotion, $emoji in $emotions {
      &[data-mood="#{$emotion}"]{
        .ranger-emoji:after{
          content: map-get($emotions,$emotion);
        }
      }
    }
  }
  &-emoji{
    &:after{
      content: '.';
      display: inline-block;
      width: 1em;
      margin-bottom: 20px;
      line-height: 1em;
      font-size: 6em;
    }
  }
}
