@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

@import "layout";
@import "drawings";
@import "organisations";
@import "edit";
@import "login";
@import "components/navbar";
@import "components/form";
@import "variables";
@import "drawing-management";

html, body {
  height: 100%;
  background-color: $ice-white;
  font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: $base-font-size;
}

.alert {
  margin-bottom: 0px;
}
