@import "variables";

.form-wrapper {
  width: 60%;
  margin: 20px auto;
  background-color: $white;
  padding: 40px;
  border: 1px solid $light-gray;
  border-radius: 3px;
}

.edit-links {
  margin-top: 20px;
  margin-bottom: 40px;
}

.panel {
  border-radius: 8px;
}

.panel-heading {
  h2 {
    text-align: center;
  }
}
