/***************************/
/**** Colours ****/
$aluminium: #a5a7aa;
$aubergine: #85144B;
$chathams-blue: #125688;
$rose: #cb6264;

// Greys
$light-gray: #edeeee;
$mid-gray: #ccc;
$dark-grey: #232323;

// Whites
$ice-white: #fafafa;
$white: #fff;

/***************************/

/***************************/
/**** Dimensions ****/
$drawingsPadding: 24px;
/***************************/

/***************************/
/**** Sizes ****/
$spacing-unit: 15px;
/***************************/
